.button {
    border-radius: 18px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    padding: 25px 50px;
}

.button.home {
    border-radius: 18px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    padding: 40px 70px;
    height: 150px;
    width: 300px;
    font-size: 32px;
    font-family: MontSerrat;
}
/* PRIMARY */
.button.primary {
    background-color: #27D8EA;
    color: white;
}

.button.primary:hover {
    background-color: #03A7B8;
    color: white;
}

.button.secondary {
    background-color: #53EDA0;
    color: white;
}

.button.secondary:hover {
    background-color: rgb(4, 143, 158);
    color: white;
}
